<form>
	<div class="modal-header">
		<div class="alert alert-info"><span data-i18n="_recorder.dialog.remove_number.title_"> Number will be removed </span> : {{numberToRemove.number}}. </div>
	</div>
	<div class="modal-body">
		<div class="alert alert-warning" data-i18n="_recorder.dialog.remove_number.warning_"> Are you sure to remove number ?</div>
	</div>
	<div class="modal-footer">
	<button ng-click="close('ok')" class="btn btn-primary" data-i18n="_users.dialog.remove_user.cancel_btn_">Cancel</button>
	<button ng-click="remove(numberToRemove)" class="btn btn-danger btn-primary" data-i18n="_users.dialog.remove_user.ok_btn_">OK</button>
	</div>
</form>
