<form name="form" class="form-horizontal">
    <div class="modal-header">
        <div class="alert alert-info" data-i18n="_recorder.dialog.add_number.title_">Add number</div>
    </div>
    <div class="modal-body">

        <label data-i18n="_recorder.dialog.add_number.number.label_">Number</label>
        <input class="span2" type="text" name="number" ng-model="numberToAdd.number" placeholder="Please provide the number" required>
        <span ng-show="showError('number', 'required')" class="help-inline">This field is required.</span>
        <span ng-show="showError('number', 'number')" class="help-inline">Please enter a valid username.</span>
        <span ng-show="showError('number', 'number')" class="help-inline">This username is not available - please enter another.</span>
        <label data-i18n="_recorder.dialog.add_number.number.label_">Comments</label>
        <input class="span2" type="text" name="comments" ng-model="numberToAdd.comments" required>
        </br>
        </br>
        <label data-i18n="_recorder.dialog.add_number.recorded.label_">Recorded</label>
        <input type="checkbox" ng-model="numberToAdd.recorded" ng-true-value="1" ng-false-value="0">

    </div>
    <div class="modal-footer">
        <button ng-click="add()" class="btn btn-primary" data-i18n="_recorder.dialog.add_btn_">Add</button>
        <button ng-click="close()" class="btn" data-i18n="_recorder.dialog.cancel_btn_">Close</button>
    </div>
</form>