<div class="row">
<div class = "span9">
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th data-i18n="_users.column.user_name_">User name</th>
            <th data-i18n="_users.column.last_name_">Last name</th>
            <th data-i18n="_users.column.first_name_">First name</th>
            <th data-i18n="_users.column.admin_">Administrator</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.admin}}</td>
            <td><button class="btn edit" ng-click="editUser(user)" data-i18n="_users.edit_">Edit</button></td>
            <td><button class="btn btn-danger remove" ng-click="removeUser(user)" data-i18n="_users.remove_">Remove</button></td>
        </tr>
    </tbody>
</table>
<div class="well">
    <button class="btn edit " ng-click="addNewUser()" data-i18n="_users.add_user_">New User</button>
</div>

</div>
</div>