<form name="form">
    <div class="modal-header">
        <div class="alert alert-info" data-i18n="_users.dialog.add_user.title_"> Add new user </div>
    </div>
    <div class="modal-body">
        <label data-i18n="_users.dialog.add_user.user_name_">User name</label>
        <input class="span6" type="username" name="username" ng-model="userToAdd.username" required unique-email>
        <span ng-show="showError('username', 'required')" class="help-inline">This field is required.</span>
        <span ng-show="showError('username', 'username')" class="help-inline">Please enter a valid username.</span>
        <span ng-show="showError('username', 'uniqueUserName')" class="help-inline">This username is not available - please enter another.</span>
        <label data-i18n="_users.dialog.add_user.last_name_">Last name</label>
        <input class="span6" type="text" name="lastName" ng-model="userToAdd.lastName" required>
        <span ng-show="showError('lastName', 'required')" class="help-inline">This field is required.</span>
        <label data-i18n="_users.dialog.add_user.first_name_">First name</label>
        <input class="span6" type="text" name="firstName" ng-model="userToAdd.firstName" required>
        <span ng-show="showError('firstName', 'required')" class="help-inline">This field is required.</span>
        <label data-i18n="_users.dialog.add_user.password_">Password</label>
        <input class="span6" type="password" name="password" ng-model="userToAdd.password" required>
        <span ng-show="showError('password', 'required')" class="help-inline">This field is required.</span>
        <span ng-show="showError('passwordRepeat', 'equal')" class="help-inline">Passwords do not match.</span>
        <label data-i18n="_users.dialog.add_user.password_repeat">Password (repeat)</label>
        <input class="span6" type="password" name="passwordRepeat" ng-model="password" required validate-equals="userToAdd.password">
        <span ng-show="showError('passwordRepeat', 'required')" class="help-inline">This field is required.</span>
        <span ng-show="showError('passwordRepeat', 'equal')" class="help-inline">Passwords do not match.</span>
        <label data-i18n="_users.dialog.add_user.admin_">Admin</label>
        <input type="checkbox" ng-model="userToAdd.admin">
    </div>       
    <div class="modal-footer">
        <button ng-click="addUser()" class="btn btn-primary" data-i18n="_users.dialog.add_user.add_btn_">Add</button>
        <button ng-click="close()" class="btn" data-i18n="_users.dialog.add_user.cancel_btn_">Cancel</button>
    </div>
</form>

