<ul class="nav pull-right">
  <li class="divider-vertical"></li>
  <li ng-show="isAuthenticated()">
      <a href="#">{{userInfo().firstName}} {{userInfo().lastName}}</a>
  </li>
  <li ng-show="isAuthenticated()" class="logout">
      <form class="navbar-form">
          <button class="btn" ng-click="logout()" data-i18n="_toolbar.logout_">Log out</button>
      </form>
  </li>
  <li ng-hide="isAuthenticated()" class="login">
      <form class="navbar-form">
          <button class="btn" ng-click="login()" data-i18n="_toolbar.login_">Log in</button>
      </form>
  </li>
</ul>